.couleur-sommaire {
    background-color: #925F31;
    border-radius: 10px;
}

.couleur-texte {
    color: #57381C;
}

.fond {
    background-color: #EBE9EE;

}

.image {
    width: 100%;
}

body {
    background-color: #EBE9EE;
}

.fond-blanc {
    background-color: #fff;
}

a img {
    width: 50%;
    margin: 4px;
}

.marge-int {
    padding: 0px;
}

.btn-primary {
   background-color: #925F31;
   color: #57381C;
   border-color: #925F31; 
}

.bouton {
    background-color: #925F31;
    color: #57381C;
    border-color: #925F31;
}

.suite {
    overflow: hidden;
    height: 20rem;
}

.config-btn {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Style pour les commentaires*/
.widget .panel-body {
    padding:0px; 
}

.widget .list-group {
    margin-bottom: 0; 
}

.widget .panel-title { 
    display: flex; 
}
.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover { 
    background-color: #fff;
}

.widget .mic-info { 
    color: #666666;
    font-size: 11px; 
}

.widget .comment-text { 
    font-size: 12px; 
}

.widget .btn-block { 
    border-top-left-radius:0px;
    border-top-right-radius:0px; 
}


.like {
    background-color: #fff;
    border: 10px #fff solid;
}